In [1]:
df = sqlContext.read.format('com.databricks.spark.csv')\
.option('inferschema', 'true').load('/home/affine/Documents/Task3/task3.tsv.gz')

In [2]:
df.printSchema()

root
 |-- C0: string (nullable = true)
 |-- C1: string (nullable = true)
 |-- C2: integer (nullable = true)
 |-- C3: string (nullable = true)

In [3]:
df.first()

Row(C0='selva', C1='science', C2=81, C3='15/04/1987')

In [4]:
df.dtypes

[('C0', 'string'), ('C1', 'string'), ('C2', 'int'), ('C3', 'string')]

In [5]:
from pyspark.sql.functions import *
import datetime
from pyspark.sql.types import StringType

def change_date(date):
    date = datetime.datetime.strptime(date, '%d/%m/%Y').strftime('%d/%m/%Y')
    return date
#'%Y-%m-%d'
change_date= udf(change_date, StringType())
df3=df.withColumn("C3",change_date(df.C3))

In [6]:
df3.show()

+------+-------+---+----------+
|    C0|     C1| C2|        C3|
+------+-------+---+----------+
| selva|science| 81|15/04/1987|
|harish|   math| 60|15/04/1988|
|  arun|science| 85|15/04/1989|
|   vis| social| 55|15/04/1990|
|   vis|   math| 84|15/04/1990|
|  raga|    geo| 45|15/04/1992|
| selva|   math| 75|15/04/1987|
| selva| social| 77|15/04/1987|
|   vis|  hindi| 99|15/04/1990|
|  raga|  hindi| 78|15/04/1992|
+------+-------+---+----------+

In [7]:
df2 = sqlContext.read.format('com.databricks.spark.csv')\
.option('header', 'true').option('inferschema', 'true').load('/home/affine/Documents/Task3/task31.tsv')

In [8]:
df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- sub: string (nullable = true)
 |-- score: string (nullable = true)
 |-- dob: string (nullable = true)

In [9]:
df2.show()

+----+---+-----+---+
|name|sub|score|dob|
+----+---+-----+---+
+----+---+-----+---+

In [10]:
df4 = df2.join(df3)

In [11]:
df4

DataFrame[name: string, sub: string, score: string, dob: string, C0: string, C1: string, C2: int, C3: string]

In [12]:
df4.show()

+----+---+-----+---+---+---+---+---+
|name|sub|score|dob| C0| C1| C2| C3|
+----+---+-----+---+---+---+---+---+
+----+---+-----+---+---+---+---+---+

In [13]:
df5 = df2.unionAll(df3)

In [14]:
df5

DataFrame[name: string, sub: string, score: string, dob: string]

In [15]:
df5.show()

+------+-------+-----+----------+
|  name|    sub|score|       dob|
+------+-------+-----+----------+
| selva|science|   81|15/04/1987|
|harish|   math|   60|15/04/1988|
|  arun|science|   85|15/04/1989|
|   vis| social|   55|15/04/1990|
|   vis|   math|   84|15/04/1990|
|  raga|    geo|   45|15/04/1992|
| selva|   math|   75|15/04/1987|
| selva| social|   77|15/04/1987|
|   vis|  hindi|   99|15/04/1990|
|  raga|  hindi|   78|15/04/1992|
+------+-------+-----+----------+